*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 62.5%;
  color: #fff;
  background: #000;
  text-align: center;
}

h1 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
}

h2 {
  font-size: 1.1rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
}

h3 {
  font-size: 0.6rem;
  font-weight: 100;
  letter-spacing: 6px;
}

p {
  font-size: 0.7rem;
}

.logo {
  fill: #fff;
}

body a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
}
body a:hover {
  color: #666;
}
body h2 {
  font-size: 1rem;
}

.collapsible {
  transition: all 0.4s;
}
.collapsible__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 1.5rem;
}
.collapsible__chevron {
  cursor: pointer;
  height: 1.3rem;
  margin-bottom: 0;
  padding-bottom: 0;
  width: 1.3rem;
}
.collapsible__line {
  height: 0.3rem;
  margin-top: 0;
  padding-top: 0;
  width: 100%;
}
.collapsible__short-line {
  max-height: 0;
}
.collapsible__chevron, .collapsible__line, .collapsible__short-line, .collapsible__header {
  transition: all 0.4s;
}
.collapsible--expanded .collapsible__header {
  max-height: 100vh;
  opacity: 1;
  overflow: visible;
}
.collapsible--expanded .collapsible__short-line {
  max-height: 0.6rem;
  opacity: 1;
  overflow: visible;
  transform: translateY(0.27rem);
}
.collapsible--expanded .collapsible__chevron {
  rotate: 180deg;
  transform: translatey(-3.2rem);
}

@media screen and (min-width: 768px) {
  .collapsible__header {
    max-height: 100vh;
    opacity: 1;
    overflow: visible;
    padding: 0 3rem;
  }
  .collapsible__chevron {
    display: none;
  }
  .collapsible__short-line {
    display: none;
  }
  body h1 {
    font-size: 3rem;
    margin-top: 0;
  }
  body h2 {
    font-size: 1.2rem;
    letter-spacing: 3px;
    margin: 0.5rem 0.5rem;
  }
}
@media screen and (min-width: 1024px) {
  body h2 {
    font-size: 1.5rem;
  }
}
.summary--line-container {
  display: flex;
  flex-direction: column;
  margin: 4rem 0;
  gap: 4rem;
}
.summary--title {
  font-size: 1.6rem;
  margin-bottom: 4rem;
}
.summary--text {
  font-size: 0.9rem;
  font-weight: 100;
  margin: 0 2rem;
  margin-bottom: 4rem;
}
.summary--img {
  width: 10rem;
  height: 10rem;
}

.icon--line {
  height: 1rem;
}

@media screen and (min-width: 768px) {
  .summary--title {
    font-size: 2rem;
    font-weight: 300;
  }
  .summary--text {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .summary--title {
    font-weight: 400;
  }
  .summary--text {
    font-size: 1.5rem;
  }
}
.top {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 4rem;
}
.top h3 {
  font-size: 1.5rem;
}

.main__line {
  height: 1rem;
}

.logo--rh {
  height: 5rem;
  margin: 2rem;
}
.logo--pink {
  height: 5rem;
  margin: 2rem;
}

.experience {
  display: flex;
  flex-direction: column;
}
.experience--block {
  display: flex;
  flex-direction: column;
}
.experience--title {
  margin: 2rem 3rem;
  position: relative;
  padding-bottom: 1rem;
}
.experience--title__title {
  position: absolute;
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-weight: bold;
  left: 1rem;
  top: -0.2rem;
}
.experience--title__locat {
  position: absolute;
  font-size: 0.8rem;
  letter-spacing: normal;
  font-weight: 400;
  color: #777;
  left: 1rem;
  top: 0.7rem;
}
.experience--title__time {
  position: absolute;
  font-size: 0.6rem;
  letter-spacing: normal;
  font-weight: 400;
  color: #777;
  left: 19rem;
  top: 0.5rem;
}
.experience--title__time-short {
  left: 11rem;
}
.experience .same-company .experience--title__time {
  left: 12rem;
  top: 0.1rem;
}
.experience__line {
  height: 1rem;
  margin: 1rem;
}
.experience--list {
  list-style: none;
  padding-left: 0;
  margin: 2rem 2rem;
}
.experience--list-item {
  font-size: 0.7rem;
  font-weight: 100;
}

.space {
  height: 4rem;
}

@media screen and (min-width: 1024px) {
  .logo {
    margin: auto 0;
    width: 33%;
  }
  .logo--rh {
    height: 15rem;
  }
  .logo--pink {
    height: 10rem;
    order: 1;
  }
  .experience {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .experience--block {
    margin: 0;
    width: 33%;
  }
  .experience--title__title {
    font-size: 0.8rem;
  }
  .experience--list-item {
    font-size: 0.9rem;
  }
  .space--holder {
    width: 33%;
  }
}/*# sourceMappingURL=style2.css.map */