*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 62.5%;
  color: #fff;
  background: #000;
  text-align: center;
}

h1 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
}

h2 {
  font-size: 1.1rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
}

h3 {
  font-size: 0.6rem;
  font-weight: 100;
  letter-spacing: 6px;
}

p {
  font-size: 0.7rem;
}

.logo {
  fill: #fff;
}

.nav__link, .nav .name {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
}
.nav__link:hover, .nav .name:hover {
  color: #666;
  text-decoration: none;
}

.logo {
  fill: #fff;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: #fff;
}

.collapsible {
  transition: all 0.4s;
}
.collapsible__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 1.5rem;
}
.collapsible__chevron {
  cursor: pointer;
  height: 1.3rem;
  margin-bottom: 0;
  padding-bottom: 0;
  width: 1.3rem;
}
.collapsible__line {
  height: 0.3rem;
  margin-top: 0;
  padding-top: 0;
  width: 100%;
}
.collapsible__short-line {
  max-height: 0;
}
.collapsible__chevron, .collapsible__line, .collapsible__short-line, .collapsible__header {
  transition: all 0.4s;
}
.collapsible--expanded .collapsible__header {
  max-height: 100vh;
  opacity: 1;
  overflow: visible;
}
.collapsible--expanded .collapsible__short-line {
  max-height: 0.6rem;
  opacity: 1;
  overflow: visible;
  transform: translateY(0.27rem);
}
.collapsible--expanded .collapsible__chevron {
  rotate: 180deg;
  transform: translatey(-3.2rem);
}

@media screen and (min-width: 768px) {
  .collapsible__header {
    max-height: 100vh;
    opacity: 1;
    overflow: visible;
    padding: 0 3rem;
  }
  .collapsible__chevron {
    display: none;
  }
  .collapsible__line {
    width: 100%;
  }
  .collapsible__short-line {
    display: none;
  }
  body h1 {
    font-size: 3rem;
    margin-top: 0;
  }
  body h3 {
    font-size: 1.2rem;
    letter-spacing: 3px;
    margin: 0.5rem 0.5rem;
  }
}
.main {
  margin-top: 3rem;
}
.main__summary {
  padding: 1.5rem 1rem;
  font-weight: 100;
}
.main .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: top;
}
.main--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__line {
  height: 0.6rem;
  margin-bottom: 3rem;
}
.main__img {
  width: 8rem;
  height: 8rem;
}

@media screen and (min-width: 1024px) {
  .main__line {
    height: 0.8rem;
  }
  .main h2 {
    font-size: 1.8rem;
  }
  .main p {
    font-size: 1.3rem;
    max-width: 50%;
  }
  .main__img {
    width: 9.5rem;
    height: 9.5rem;
  }
}
.experience {
  width: 85%;
  display: flex;
  margin-bottom: 2.5rem;
}
.experience--logo {
  width: 6rem;
  height: 5rem;
  margin: 1.5rem;
}
.experience--title {
  position: absolute;
  padding: 0;
}
.experience__job-title {
  font-size: 0.6rem;
  letter-spacing: 1px;
  text-align: left;
  margin: 0;
}
.experience__job-locat {
  position: relative;
  color: #666;
  font-size: 0.6rem;
  font-weight: 100;
  text-align: left;
  margin: 0;
  top: -0.5rem;
}
.experience__job-time {
  position: relative;
  color: #666;
  font-size: 0.5rem;
  font-weight: 100;
  text-align: right;
  margin: 0;
  left: 5rem;
  top: -0.2rem;
}
.experience .same-company {
  position: relative;
  color: #666;
  font-size: 0.5rem;
  text-align: right;
  margin: 0;
  left: 5rem;
  top: -0.6rem;
}
.experience--list {
  list-style: none;
  margin-top: 3rem;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}
.experience--list .experience__list--item {
  text-decoration: none;
}
.experience__line {
  height: 0.8rem;
  margin: 0.5rem 0;
}

@media screen and (min-width: 1024px) {
  .logo {
    align-self: flex-start;
    width: 15rem;
    height: 15rem;
  }
  .logo--rh {
    grid-area: logo1;
  }
  .logo--pink {
    grid-area: logo2;
  }
  .experience {
    padding-left: 1rem;
  }
  .experience-1 {
    grid-area: main1;
  }
  .experience-2 {
    grid-area: main2;
  }
  .experience-3 {
    grid-area: main3;
  }
  .experience__job-time {
    float: inline-end;
  }
  .experience__job-title {
    font-size: 1rem;
  }
  .experience__job-locat {
    margin-right: 8rem;
    font-size: 3rem;
  }
  .experience__list-item {
    font-size: 1rem;
  }
  .main p {
    position: unset;
    font-size: 0.8rem;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .main--container {
    display: grid;
    grid-template-columns: 25vw 50vw 25vw;
    grid-template-areas: ". top ." "logo1 main1 ." ". main2 ." ". main3 logo2";
  }
}/*# sourceMappingURL=style.css.map */