@use "config";



// *Nav unit


.nav {

    &__link {
        text-decoration: none;
        color: #fff;
        transition: all .3s;
    }

    &__link:hover {
        color: #666;
    }
}



.logo {
    fill: #fff;
}

.icon {
    width: 2.5rem;
    height: 2.5rem;
}

// !Collapsible 

.collapsible {

    transition: config.$transition;

    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.5rem;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        
    }

    &__chevron {
        width: 1.3rem;
        height: 1.3rem;
        margin-bottom: 0;
        padding-bottom: 0;
        cursor: pointer;
    }

    &__line {
        width: 100%;
        margin-top: 0;
        padding-top: 0;
        height: .3rem;
    }

    &__short-line {
        max-height: 0;
    }

    &__chevron, &__line, &__short-line, &__header {
        transition: config.$transition;
    }


    &--expanded {

        .collapsible__header {
            max-height: 100vh;
            opacity: 1;
            overflow: visible;

        }

        .collapsible__short-line {
            max-height: .6rem;
            opacity: 1;
            overflow: visible;
            transform: translateY(.27rem); 

        }

        .collapsible__chevron {
            transform: translatey(-3.2rem);
            rotate: 180deg;

        }

    }

}


@media screen and (min-width: 768px) {

    .collapsible {

        &__header {
            padding: 0 3rem;
            max-height: 100vh;
            opacity: 1;
            overflow: visible;
            
        }

        &__chevron {
            display: none;
        }

        &__line {
            width: 100%;
        }

        &__short-line {
            display: none;

        } 
    
    }

    body {
        h1 {
            font-size: 3rem;
            margin-top: 0;
        }

        h3 {
            font-size: 1.2rem;
            letter-spacing: 3px;
            margin: .5rem .5rem;
            

        }
    }
}




