@use "config";


// *Nav

body {
    
    a {
    text-decoration: none;
    color: #fff;
    transition: all .3s;
    }
    a:hover {
        color: #666;
    }

    h2 {
        font-size: 1rem;
    }
}

// !Collapsible 

.collapsible {

    transition: config.$transition;

    &__header{
        align-items: center;
        display: flex;
        justify-content: space-between;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        padding: 0 1.5rem;
    }

    &__chevron {
        cursor: pointer;
        height: 1.3rem;
        margin-bottom: 0;
        padding-bottom: 0;
        width: 1.3rem;
    }

    &__line {
        height: .3rem;
        margin-top: 0;
        padding-top: 0;
        width: 100%;
    }

    &__short-line {
        max-height: 0;
    }

    &__chevron, &__line, &__short-line, &__header {
        transition: config.$transition;
    }


    &--expanded {

        .collapsible__header {
            max-height: 100vh;
            opacity: 1;
            overflow: visible;

        }

        .collapsible__short-line {
            max-height: .6rem;
            opacity: 1;
            overflow: visible;
            transform: translateY(.27rem); 

        }

        .collapsible__chevron {
            rotate: 180deg;
            transform: translatey(-3.2rem);
        }
    }
}

@media screen and (min-width: 768px) {

    .collapsible {

        &__header {
            max-height: 100vh;
            opacity: 1;
            overflow: visible;
            padding: 0 3rem;
        }

        &__chevron {
            display: none;
        }

        &__short-line {
            display: none;
        }    
    }

    body {
        h1 {
            font-size: 3rem;
            margin-top: 0;
        }
        h2 {
            font-size: 1.2rem;
            letter-spacing: 3px;
            margin: .5rem .5rem;
        }
    }
}

@media screen and (min-width:1024px) {

    body h2 {
        font-size: 1.5rem;
    }
    
}


// *index page


.summary {
    &--line-container {
        display: flex;
        flex-direction: column;
        margin: 4rem 0;
        gap: 4rem;
    }

    &--title {
        font-size: 1.6rem;
        margin-bottom: 4rem;
    }

    &--text {
        font-size: .9rem;
        font-weight: 100;
        margin: 0 2rem;
        margin-bottom: 4rem;
    }

    &--img {
        width: 10rem;
        height: 10rem;
    }
}

.icon {
    &--line {
        height: 1rem;
    }
}

@media screen and (min-width:768px) {

    .summary {

        &--title {
            font-size: 2rem;
            font-weight: 300;
        }

        &--text {
            font-size: 1.1rem;
        }
    }
}

@media screen and (min-width:1024px) {

  .summary {

    &--title {
        font-weight: 400;
    }

    &--text {
        font-size: 1.5rem;
    }
  }
    
}


// *Experience page

.top {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 4rem;

    h3 {
        font-size: 1.5rem;
    }
}

.main {
    &__line {
        height: 1rem;
    }
}

.logo {
    &--rh {
        height: 5rem;
        margin: 2rem;
    }
    &--pink {
        height: 5rem;
        margin: 2rem;
    }
}

.experience {
    display: flex;
    flex-direction: column;

    &--block{
        display: flex;
        flex-direction: column;
    }

    &--title {
        margin: 2rem 3rem;
        position: relative;
        padding-bottom: 1rem;

        &__title {
            position: absolute;
            font-size: .8rem;
            letter-spacing: 2px;
            font-weight: bold;
            left: 1rem;
            top: -.2rem;

        }

        &__locat {
            position: absolute;
            font-size: .8rem;
            letter-spacing: normal;
            font-weight: 400;
            color: #777;
            left: 1rem;
            top: .7rem;

        }
        &__time {
            position: absolute;
            font-size: .6rem;
            letter-spacing: normal;
            font-weight: 400;
            color: #777;
            left: 19rem;
            top: .5rem;

            &-short {
                left: 11rem;
            }
        }

    }

    .same-company .experience--title__time {
        left: 12rem;
        top: .1rem;
    }



    &__line {
        height: 1rem;
        margin: 1rem;
    }

    &--list{
        list-style: none;
        padding-left: 0;
        margin: 2rem 2rem;
        &-item {
            font-size: .7rem;
            font-weight: 100;
        }
    }
}

.space {
    height: 4rem;
}

@media screen and (min-width:1024px) {
// ! This was the reason I had to recreate the entire project. using flex for both moble and desktop versions of the site is working out pretty swell.
// ! key changes were to add spacer divs in desktop mode and give the pink logo a different order to that it's last on the flex order.
// ! also had to change the width of all the divs to 33% so they could be even.

    .logo {
        margin: auto 0;
        width: 33%;

        &--rh {
            height: 15rem;
        }

        &--pink {
            height: 10rem;
            order: 1;
        }
    }
    .experience {
        flex-direction: row;
        flex-wrap: wrap;
        
        &--block {
            margin: 0;
            width: 33%;
        }

        &--title {
            &__title {
                font-size: .8rem;
            }
        }

        &--list {

            &-item{   
                font-size: .9rem;
            }
        }

 

    }

    .space {
        &--holder {
            width: 33%;
        }
    }
}


// *Education Page 



// School block

.school {
    display: flex;
    justify-content: center;
    align-items: center;

    &--name {

        h3 {
            font-size: .7rem;
            font-weight: bold;
            margin-bottom: 0;
        }
        p {
            color: #666;
            margin-top: 0;
        }
    }
}

.logo {

    &--cuny {
        height: 7rem;
        max-width: 200px;
    }
}