<!-- *RH Experience Block -->
<!-- Job Title 1 -->
<div class="experience--block">
    <!-- you can add .same-company to remove the location -->
    <div class="experience--title">
        <h3 class="experience--title__title">Associate Service Desk Engineer</h3>
        <p class="experience--title__time">Dec 2021 - Present</p>
        <p class="experience--title__locat">Restoration Hardware - New York, NY</p>
    </div>
    <!-- Job task list 1 -->
    <ul class="experience--list">
        <li class="experience--list-item">Managed and prioritized all calls and tickets daily for
            maximum
            impact with minimal time spent. </li>
        <!-- Short line -->
        <svg class="icon experience__line">
            <use xlink:href="/icons/sprite-icons.svg#short-line"></use>
        </svg>
        <li class="experience--list-item">Responded to and resolved support tickets and calls daily.
            Closing
            an average of 35 tickets and answering an average of 30 calls a days.</li>
        <!-- Short line -->
        <svg class="icon experience__line">
            <use xlink:href="/icons/sprite-icons.svg#short-line"></use>
        </svg>
        <li class="experience--list-item">
            Provided L1 and L2 support for networking, hardware and software configuring, and escalated
            tickets when needed.
        </li>
        <!-- Short line -->
        <svg class="icon experience__line">
            <use xlink:href="/icons/sprite-icons.svg#short-line"></use>
        </svg>
        <li class="experience--list-item">Took the initiative to draft standard operating procedures for
            common practices within the scope of technical support after recognizing there were no
            supporting guidelines available. This helped support efforts and resulted in a 10% reduction
            in
            volume.
        </li>
    </ul>
</div>