<main class="main">
    <div class="main--container">

        <svg class="icon main__line">
            <use xlink:href="/icons/sprite-icons.svg#short-line"></use>
        </svg>

        <svg class="icon main__line">
            <use xlink:href="/icons/sprite-icons.svg#short-line"></use>
        </svg>

        <svg class="icon main__line">
            <use xlink:href="/icons/sprite-icons.svg#short-line"></use>
        </svg>

        <svg class="icon main__line">
            <use xlink:href="/icons/sprite-icons.svg#short-line"></use>
        </svg>
        <h2>Professional Summary</h2>

        <p>A personable individual that always strives to be the hardest worker in the room. Possess a talent for
            diagnosing problems and providing solutions whether it be with a computer or client. Works well in groups
            and
            keeps them motivated, but can also focus independently.</p>
        <img class="main__img" src="/images/Ray_portrait.png" alt="">

    </div>
</main>