<header class="nav--container">
    <nav class="nav">
        <a href="/index.html">
            <h1 class="name">Raymond Lopez</h1>
        </a>
        <div class="collapsible collapsible--expanded">
            <header class="collapsible__header ">
                <a class="nav__link" href="/experience.html">
                    <h3>Experience</h3>
                </a>
                <a class="nav__link" href="/education.html">
                    <h3>Education</h3>
                </a>
                <a class="nav__link" href="/skills.html">
                    <h3>Sklls</h3>
                </a>
            </header>
            <svg class="icon collapsible__chevron">
                <use xlink:href="/icons/sprite-icons.svg#chevron"></use>
            </svg>
            <svg class="icon collapsible__line">
                <use xlink:href="/icons/sprite-icons.svg#line"></use>
            </svg>
            <svg class="icon collapsible__short-line">
                <use xlink:href="/icons/sprite-icons.svg#short-line2"></use>
            </svg>
        </div>
    </nav>
</header>