<!-- Nav Unit -->
<a href="/index.html">
    <h1 class="name">Raymond Lopez</h1>
</a>
<div class="collapsible collapsible--expanded">
    <header class="collapsible__header ">
        <a href=" /experience.html">
            <h2>Experience</h2>
        </a>
        <a href="/education.html">
            <h2>Education</h2>
        </a>
        <a href=" /skills.html">
            <h2>Sklls</h2>
        </a>
    </header>
    <svg class="icon collapsible__chevron">
        <use xlink:href="/icons/sprite-icons.svg#chevron"></use>
    </svg>
    <svg class="icon collapsible__line">
        <use xlink:href="/icons/sprite-icons.svg#line"></use>
    </svg>
    <svg class="icon collapsible__short-line">
        <use xlink:href="/icons/sprite-icons.svg#short-line2"></use>
    </svg>
</div>