<header class="nav--container">
    <nav class="nav">
        <h1 class="name">Raymond Lopez</h1>
        <div class="collapsible collapsible--expanded">
            <div class="collapsible__content">
                <header class="collapsible__header ">
                    <h3>Experience</h3>
                    <h3>Education</h3>
                    <h3>Sklls</h3>
                </header>
                <svg class="icon collapsible__chevron">
                    <use xlink:href="/icons/sprite-icons.svg#chevron"></use>
                </svg>
                <svg class="icon collapsible__line">
                    <use xlink:href="/icons/sprite-icons.svg#line"></use>
                </svg>
                <svg class="icon collapsible__short-line">
                    <use xlink:href="/icons/sprite-icons.svg#short-line2"></use>
                </svg>
            </div>
        </div>
    </nav>
</header>