<!-- Self thought showcase -->
<div class="showcase">
    <h3>Self Thought</h3>
    <div class="showcase--container">

        <div class="showcase--item">
            <!-- *HTML logo -->
            <svg class="logo">
                <use xlink:href="/logos/SVG/sprite--logos.svg#html"></use>
            </svg>
            <p>HTML</p>
        </div>
        <div class="showcase--item">
            <!-- *Illustrator logo -->
            <svg class="logo">
                <use xlink:href="/logos/SVG/sprite--logos.svg#illustrator"></use>
            </svg>
            <p>Illustrator</p>
        </div>
        <div class="showcase--item">
            <!-- *CSS logo -->
            <svg class="logo">
                <use xlink:href="/logos/SVG/sprite--logos.svg#css"></use>
            </svg>
            <p>CSS</p>
        </div>
        <div class="showcase--item">
            <!-- *Photoshop logo -->
            <svg class="logo">
                <use xlink:href="/logos/SVG/sprite--logos.svg#photoshop"></use>
            </svg>
            <p>Photoshop</p>
        </div>
        <div class="showcase--item">
            <!-- *Javascript logo -->
            <svg class="logo">
                <use xlink:href="/logos/SVG/sprite--logos.svg#js"></use>
            </svg>
            <p>Javascript</p>
        </div>
        <div class="showcase--item">
            <!-- *XD logo -->
            <svg class="logo">
                <use xlink:href="/logos/SVG/sprite--logos.svg#xd"></use>
            </svg>
            <p>XD</p>
        </div>
        <div class="showcase--item">
            <!-- *SCSS logo -->
            <svg class="logo">
                <use xlink:href="/logos/SVG/sprite--logos.svg#sass"></use>
            </svg>
            <p>SCSS</p>
        </div>
        <div class="showcase--item">
            <!-- *Vscode logo -->
            <svg class="logo">
                <use xlink:href="/logos/SVG/sprite--logos.svg#vscode"></use>
            </svg>
            <p>VScode</p>
        </div>
    </div>
</div>