<!-- Main summary content on index page -->
<main class="summary">
    <div class="summary--container">

        <!-- Line Container -->
        <div class="summary--line-container">
            <svg class="icon icon--line">
                <use xlink:href="/icons/sprite-icons.svg#short-line"></use>
            </svg>
            <svg class="icon icon--line">
                <use xlink:href="/icons/sprite-icons.svg#short-line"></use>
            </svg>
            <svg class="icon icon--line">
                <use xlink:href="/icons/sprite-icons.svg#short-line"></use>
            </svg>
            <svg class="icon icon--line">
                <use xlink:href="/icons/sprite-icons.svg#short-line"></use>
            </svg>
        </div>

        <h3 class="summary--title">Professional Summary</h3>

        <p class="summary--text">A personable individual that always strives to be the hardest worker in the room.
            Possess
            a talent for
            diagnosing problems and providing solutions whether it be with a computer or client. Works well in groups
            and
            keeps them motivated, but can also focus independently.</p>
        <img class="summary--img" src="/images/Ray_portrait.webp" alt="">

    </div>
</main>